*{
    margin: 0;/* con esto reseteamos todas las propiedades que trae por defecto*/
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    /* text-transform: capitalize; para que la primera letra de cada palabra sea mayuscula*/
}
.write{
 
  background: wheat;
}
.write .card{
  background:#F4ECEA;
}
.write button:hover{
  background-color:#eae20b;
  color: black;
}
.write button{
  background: #f6a905;
  border: none;
}
.write h3:hover{
  color: #f7b305;
  }

/*temA OSCURO*/
.black{
  background: #060505;
}

.black .card{
  background: #3E3C3C;
}
.black h2 {
  color: white;
}
.black p{
  color: white;
}
.black h3:hover{
color: #EBD136;
}
.black button:hover{
  background-color:#EBD136;
  color: black;
  border: none;
}
/*hasta aqui*/

/*temA libre*/
.libre{
  background: #EBD136;
}

.libre .card{
  background: #EBE571;
}
.libre h2 {
  color: black;
}
.libre p{
  color: black;
}
.libre button:hover{
  
  background-color:#EDA307;
  color: black;
}
 .libre button{
 
  background: black;
  border: none;
}
/*hasta aqui*/
.logo{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: auto;

  width: auto;
}
.logo img{
  margin-top: 140px;
  border-radius: 30px;
  width: 100%;
  height: 50%;
}
.col-md-6{
  margin-bottom: 30px;
}


.card{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 800px;
  border: none;
}
.card-body p{
  margin-top: 50px;
}
.card-body h3{
  margin-top: 20px;
  font-weight: bold;
}


/*media query*/

@media(min-width:768px){

.card{
border: solid black;
height: 900px;
  
}
@media(max-width:991px){

  .card{
  border: solid black;
  height: 920px;
    
  }

}}